.calculator {
  max-width: 500px;
  margin: 10rem auto;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.result {
  background-color: wheat;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  padding: 0.5rem;
  height: 50px;
  border: 1px solid gray;
  font-size: 2rem;
}

.key {
  text-align: center;
  background-color: gray;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}
